html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: orangered;
}

.current_tempo  {
    background-color: #D6EEEE;
}
table.instrument_table  td {
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

table.instrument_table td:nth-child(2) {
    background-color: #CCCCCC;
}
table.instrument_table td:nth-child(6) {
    background-color: #CCCCCC;
}
table.instrument_table td:nth-child(10) {
    background-color: #CCCCCC;
}
table.instrument_table td:nth-child(14) {
    background-color: #CCCCCC;
}

table.instrument_table td:nth-child(22) {
    background-color: orange;
}

table.instrument_table td:nth-child(26) {
    background-color: orange;
}
table.instrument_table td:nth-child(30) {
    background-color: orange;
}

td {
    width: 20px;
    height: 30px;
}

table.instrument_table tr:nth-child(3) td{
    border-bottom: 3px solid black;
}
table.instrument_table tr:nth-child(6) td{
    border-bottom: 3px solid black;
}
table.instrument_table tr:nth-child(9) td{
    border-bottom: 3px solid black;
}

table.instrument_table tr:nth-child(11) td{
    border-bottom: 3px solid black;
}

table.instrument_table tr:nth-child(13) td{
    border-bottom: 3px solid black;
}

table.instrument_table tr:nth-child(15) td{
    border-bottom: 3px solid black;
}

table.instrument_table tr:nth-child(16) td{
    border-bottom: 3px solid black;
}

table.instrument_table td:nth-child(1) {
    width: 70px;
}

/* Contenedor del panel colapsable */
.collapsible-panel {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Botón para colapsar/expandir */
.collapsible-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    width: 100%;
    transition: background-color 0.3s;
}
/* Contenido del panel (colapsado por defecto) */
.panel-content {
    font-size: 1.5em;
    display: none; /* Oculto inicialmente */
    padding: 10px;
    width: 100%;
    background-color: #f9f9f9;
}

/* Hover en el botón */
.collapsible-button:hover {
    background-color: #45a049;
}


#logInput {
    width: 300px;
    height: 40px;
}

#playButton {
    width: 200px;
    display: inline-block; /* Asegura que los botones estén en línea */
    margin-right: 10px; /* Espaciado entre los botones opcional */
}
#stopButton {
    width: 200px;
    display: inline-block; /* Asegura que los botones estén en línea */
    margin-right: 10px; /* Espaciado entre los botones opcional */
}

#bpmInput {
    width: 30px;
}

.panSlider {
    width: 50px;
}

input[type="range"].panSlider {
    -webkit-appearance: none; /* Elimina el estilo predeterminado para navegadores webkit */
    appearance: none; /* Elimina el estilo predeterminado general */
    width: 100px; /* Define el ancho del slider */
    height: 6px; /* Altura de la pista del slider */
    background: #ddd; /* Color de la pista del slider */
    border-radius: 0; /* Sin bordes redondeados para asegurarse de que sea cuadrado */
    outline: none; /* Quita el contorno al hacer foco */
}

/* Personalización del "thumb" (botón que se mueve en el slider) */
input[type="range"].panSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Elimina estilos por defecto del navegador */
    appearance: none; /* Aplica también a otros navegadores */
    width: 15px; /* Ancho del thumb */
    height: 15px; /* Altura del thumb */
    background: #333; /* Color del thumb */
    border-radius: 0; /* Ahora el thumb será cuadrado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el thumb */
}

input[type="range"].panSlider::-moz-range-thumb {
    width: 15px; /* Ancho del thumb para Firefox */
    height: 15px; /* Altura del thumb para Firefox */
    background: #333; /* Color del thumb */
    border: none; /* Sin borde */
    border-radius: 0; /* Hace que sea cuadrado */
    cursor: pointer; /* Cambia el cursor en Firefox */
}
