html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: orangered;
}

.current_tempo  {
    background-color: #D6EEEE;
}
table.instrument_table  td {
    background-color: white;
}



table.instrument_table td:nth-child(2) {
    background-color: orange;
}
table.instrument_table td:nth-child(6) {
    background-color: orange;
}
table.instrument_table td:nth-child(10) {
    background-color: orange;
}
table.instrument_table td:nth-child(14) {
    background-color: orange;
}
table.instrument_table td:nth-child(18) {
    background-color: orange;
}

table.instrument_table td:nth-child(22) {
    background-color: orange;
}

table.instrument_table td:nth-child(26) {
    background-color: orange;
}
table.instrument_table td:nth-child(30) {
    background-color: orange;
}









table.instrument_table tr {
    border-bottom: 1px solid #ddd;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

table.instrument_table td:nth-child(1) {
    width: 70px;
}

/* Contenedor del panel colapsable */
.collapsible-panel {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Botón para colapsar/expandir */
.collapsible-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}
/* Contenido del panel (colapsado por defecto) */
.panel-content {
    font-size: 1.5em;
    display: none; /* Oculto inicialmente */
    padding: 10px;
    background-color: #f9f9f9;
}

/* Hover en el botón */
.collapsible-button:hover {
    background-color: #45a049;
}


#logInput {
    width: 300px;
    height: 40px;
}

#bpmInput {
    width: 30px;
}
