table {
    border-collapse: collapse;
    position: relative;
    font-size: 24px;
}
body {
    touch-action: manipulation;
}
td {
    width: 25px;
    height: 20px;
    position: relative;
}

.line-clef-row {
    border-top: 2px solid black; /* Creates the staff lines */
}

.note-on-line {
    position: absolute;
    left: 20%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
}

.note-on-line-striked {
    position: absolute;
    left: 20%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
    text-decoration: line-through;
}

.note-on-space {
    position: absolute;
    left: 20%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
}


.natural-key {
    background: white; /* Ensures readability */
    width: 25px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 30; /* Align with the top border */
    transform: translate(-50%, -50%);
}

.artificial-key {
    background: black; /* Ensures readability */
    width: 25px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
}

.gameConsoleText {
    border-color: black;
    width:45px;
}

#songSelect, #trackSelect, #clefSelect, #signatureSelect, #inputSelect {
    width: 150px;
}

#scoreText, #mistakesText, #detectedText {
    width: 30px;
}




